.principal {
    background: #cccccc;
    }
    hi {
    text-align:center;
    }
    h1 {
    text-align:center;
    }
    #missao {
    color:rgb(16, 50, 241);
    font-size: 18px;
    }
    #banner {
    width: 100%;
    }
    
    .beneficios-titulo {
    text-align: center;
    }
    .itens{
    font-style: italic;
    }
    .beneficios {
    background-color: white;
    }
    
    ul {
    display: inline-block;
    width: 20%;
    vertical-align: top;
    margin-right: 15%;
    }
    .beneficios-imagem {
    width: 50%;
    }
    .titulo {
    padding-left: 20px;
    }